secrets.yaml
custom_components
home-assistant.log*
image
.storage
.ssh
home-assistant_v2.db
.HA_VERSION
tts
known_devices.yaml
.shopping_list.json
ip_bans.yaml
watchman_report.txt
home-assistant-rollback.log
